#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    align-items: center;
}

#container h2 {
    text-align: center;
}

#container img {
    width: 80%;
}